{% extends "./base.html" %}

{% block contenido %}
    <h1 class="titulo">Películas en Cartelera</h1>

    <form id="filtros" action="/cartelera" method="GET">{% csrf_token %}
        <label for="q">Buscar por título o director: </label>
        <input type="text" name="q" value="{{ query|escape }}">
        <input type="submit" value="Buscar">
        
        <label for="filtroG">Género</label>
        <select name="filtroG">
            <option value="todo" {% if filtroG == 'todo' %}selected{% endif %}>Todo</option>
            <option value="terror" {% if filtroG == 'terror' %}selected{% endif %}>Terror</option>
            <option value="suspense" {% if filtroG == 'suspense' %}selected{% endif %}>Suspense</option>
            <option value="accion" {% if filtroG == 'accion' %}selected{% endif %}>Accion</option>
            <option value="drama" {% if filtroG == 'drama' %}selected{% endif %}>Drama</option>
            <option value="comedia" {% if filtroG == 'comedia' %}selected{% endif %}>Comedia</option>
            <option value="romance" {% if filtroG == 'romance' %}selected{% endif %}>Romance</option>
            <option value="animacion" {% if filtroG == 'animacion' %}selected{% endif %}>Animación</option>
        </select>
    </form>

    {% if query %}
    <h2 class="titulo">Resultados para "{{ query|escape }}":</h2>
        {% if peliculas %}
          <ul>
              {% for pelicula in peliculas %}
              <li>
                  {% include "./pelicula.html" %}
              </li>
              {% endfor %}
          </ul>
        {% else %}
          <p class="titulo">No se encuentran peliculas</p>
        {% endif %}
    {% else %}
        {% if peliculas %}

            <ul class="cartelera">
            {% for pelicula in peliculas %}
                <li>
                    {% include "./pelicula.html" %}
                </li>
            {% endfor %}
            </ul>

        {% endif %}
    {% endif %}
{% endblock %}