{% extends "./base.html" %}

{% block contenido %}
    <h1 class="titulo">Detalle de Pelicula</h1>

    {% if pelicula %}
    <div class="pelicula">
        <div class="foto_titulo">
            <img class="portada" src='{{ pelicula.foto.url }}'/>
            <h3 class="titulo_peli">{{ pelicula.titulo }}</h3>
        </div>
        <div class="info_peli">
            <p id="director"><h5>Director:</h5>{{ pelicula.director }}</p>
            <p id="genero"><h5>Género:</h5>{{ pelicula.genero }}</p>
            <p id="sinopsis"><h5>Sinopsis:</h5>{{ pelicula.sinopsis }}</p>
        </div>
    </div>

    {% endif %}

    {% if sesiones %}
    <div id="sesiones">
        <h4>Sesiones:</h4>
        <ul id="ul_sesiones">
        {% for sesiones in sesiones %}
            <li>
                <p>Día: {{ sesiones.fecha }}</p>
                <p>Hora: {{ sesiones.hora }}</p>
                <p>Sala: {{ sesiones.sala_id }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if comentarios %}
    <div id="comentarios">
        <h4>Comentarios:</h4>
        <ul>
        {% for comentarios in comentarios %}
            <li class="com">
                <p>Asunto: {{ comentarios.asunto }}</p>
                <p class="opinion">Opinión: {{ comentarios.opinion }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div id="nuevoComen">
        <h4>Opine sobre la película</h4>
        <form id="formComen" action="{% url 'cine:guardar_comentario' %}" method='post'>
            {% csrf_token %}
                <input type="text" value="{{ pelicula.id }}" name="pelicula_id" hidden="true"/>
                <div class="coment_input">
                    <label for="asunto">Asunto</label>
                    <input type="text" id="asunto" name="asunto"/>
                </div>
                <div class="coment_input">
                    <label for="opinion">Opinion</label>
                    <textarea id="opinion" name="opinion" cols="40" rows="5"></textarea>
                </div>
                <input type="submit" value="Comentar"/>
        </form>
    </div>
{% endblock %}