{% extends "./base.html" %}

{% block contenido %}
    <h1 class="titulo">Lista de sesiones disponibles</h1>

    <form class="sesion" action="/reservas" method="GET">{% csrf_token %}
        <label for="filtroPeli">Película</label>
        <select name="filtroPeli">
            {% for pelicula in peliculas %}
                <option value="{{ pelicula.titulo }}" {% if filtroPeli == '{{ pelicula.titulo }}' %}selected{% endif %}>{{ pelicula.titulo|capfirst }}</option>
            {% endfor %}
        </select>
        <label for="filtroSesion">Sesion</label>
        <select name="filtroSesion">
            {% for sesion in sesiones %}
                <option value="{{ sesion.fecha|date:"Y-m-d" }}_{{ sesion.hora|time:"H:i" }}">{{ sesion.fecha }} - {{ sesion.hora|time:"H:i" }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Cargar">
    </form>

    <div id="divSalas">
        <label for="filtroSala">Sala</label>
        <select id="filtroSala" name="filtroSala">
            {% for sala in salas %}
            <option value="{{ sala.numeroSala }}"> {{ sala.numeroSala }} </option>
            {% endfor %}
        </select>
        <label for="filtroEntradas">Numero de entradas</label>
        <input id="filtroEntradas" type="number" min="1" maxlength="2" max="99"/>
        <input type="button" onclick="filtroSala()" value="Mostrar"/>
    </div>

    <div id="divAsientos">
        <form id="formAsientos" action="" method="GET">
            <div id="checkReserva">
            </div>
            <input type="submit" value="Reservar"/>
        </form>
    </div>

{% endblock %}